# Virtual environments
venv/
env/
.venv/
.env/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd
*.py[cod]

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/

# Logs
*.log

# Environment variables
.env.local
.env.*.local
.env

# IDE files
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db